---
import {JSDOM} from 'jsdom';
import {Markdown} from 'astro-remote';

interface Props {
    id: string
    author: string
}

function decodeHTML(html: string): string {
    const txt = dom.window.document.createElement('textarea');
    txt.innerHTML = html;
    return txt.value;
}

const embed = await fetch(`https://publish.twitter.com/oembed?url=https://twitter.com/${Astro.props.author}/status/${Astro.props.id}`)
const jsonResponse = await embed.json() as { html: string, author_name: string, url: string }
const dom = new JSDOM(jsonResponse.html);
const author = jsonResponse.author_name;
const anchors = dom.window.document.getElementsByTagName('a');
const date = anchors[anchors.length - 1].innerHTML;
const content = dom.window.document.getElementsByTagName('p')[0].innerHTML;
const link = jsonResponse.url;
---

<blockquote class="x-post">
    <div class="heading">
        {author} wrote on X (formerly Twitter):
    </div>
    <div class="content">
        <Markdown content={decodeHTML(content)}/>
    </div>
    <a target="_blank" href={link}>Original post on X</a>
</blockquote>

<style lang="scss">
    @use "../../styles/variables/colors";
    @use "../../styles/variables/borders";
    @use "../../styles/variables/fonts";

    blockquote {
        // Typography
        font-style: initial;
    }
    
    .x-post {
        // Boxing
        margin: 0 0 1em;
        padding: 1em;

        // Style
        border: borders.$default;

        .heading {
            // Boxing
            margin-bottom: 0.5em;

            // Typography
            font-size: 1.5em;
            font-family: fonts.$titles;
        }

        .content {
            // Boxing
            margin: 0;

            // Typography
            font-family: fonts.$body;
        }

        a {
            // Boxing
            display: block;
        }
    }
</style>