---
import {Markdown} from 'astro-remote';
import {getPost} from "../../helpers/socialdata_tools";

interface Props {
    id: string
}

let post = await getPost(Astro.props.id);
---

<blockquote class="x-post">
    <div class="heading">
        <span class="profile-picture">
            <img src={post.author.profilePictureUrl} alt={post.author.displayName}/>
        </span>
        {post.author.displayName}
    </div>
    <div class="content">
        <Markdown content={post.content}/>
    </div>
    {post.quoting &&
            <div class="quoting">
                <div class="heading">
                <span class="profile-picture">
                    <img src={post.quoting.author.profilePictureUrl} alt={post.quoting.author.displayName}/>
                </span>
                    {post.quoting.author.displayName}
                </div>
                <div class="content">
                    <Markdown content={post.quoting.content}/>
                </div>
                <a target="_blank" href={post.quoting.url}>Original post on X</a>
            </div>
    }
    <a target="_blank" href={post.url}>Original post on X</a>
</blockquote>

<style lang="scss">
    @use "../../styles/variables/colors";
    @use "../../styles/variables/borders";
    @use "../../styles/variables/fonts";

    blockquote {
        // Typography
        font-style: initial;
    }

    .x-post {
        // Boxing
        margin: 0 0 1em;
        padding: 1em;

        // Style
        border: borders.$default;

        .heading {
            // Boxing
            margin-bottom: 0.5em;

            // Typography
            font-size: 1.5em;
            font-family: fonts.$titles;

            .profile-picture img {
                // Style
                vertical-align: middle;
            }
        }

        .content {
            // Boxing
            margin: 0;

            // Typography
            font-family: fonts.$body;
        }

        .quoting {
            border: borders.$thin;
            padding: 1em;
            margin-bottom: 1em;

            .heading {
                img {
                    // Boxing
                    width: 1.5em;
                }

                // Typography
                font-size: 1.2em;
            }
        }

        a {
            // Boxing
            display: block;
        }
    }
</style>