---
import {type CollectionEntry, getCollection} from "astro:content";
import {Markdown} from 'astro-remote';
import Layout from "../../layouts/Layout.astro";
import Alert from "../../components/Entry/Alert.astro";
import Message from "../../components/Entry/Message.astro";

const allowedComponents = {Alert, Message};

export const getStaticPaths = async function () {
    type PostsByYear = {
        [year: string]: CollectionEntry<'posts'>[];
    };

    const posts = (await getCollection('posts')).sort(
        (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
    );

    const tags = await getCollection('tags');

    return tags.map(tag => {
        const tagPosts = posts.filter(post => post.data.tags.includes(tag.id));

        const postsByYear = tagPosts.reduce<PostsByYear>((accumulator, post) => {
            const year = new Date(post.data.publishDate).getFullYear();
            if (!accumulator[year]) {
                accumulator[year] = [];
            }
            accumulator[year].push(post);
            return accumulator;
        }, {});

        return {
            params: { tag: tag.id },
            props: {
                name: tag.data.name,
                body: tag.body,
                description: tag.data.description,
                posts: Object.entries(postsByYear).map(([year, posts]) => ({ year, posts })).reverse(),
            }
        };
    });
}

---

<Layout title={Astro.props.name} description={Astro.props.description}>
    <h1>Archive of posts about {Astro.props.name}</h1>
    <Markdown content={Astro.props.body} sanitize={{allowComponents: true}} components={allowedComponents} />
    {(Astro.props.posts).map(postsAndYear => (
            <section>
                <h2>{postsAndYear.year}</h2>
                <ul>
                    {postsAndYear.posts.map(post => (
                            <li>
                                <a href={`/posts/${post.data.slug}`}>{post.data.title}</a> <small>by <a target="_blank" href={`https://github.com/${post.data.author}`}>{post.data.authorName}</a></small>
                            </li>
                    ))}
                </ul>
            </section>
    ))}
</Layout>