---
import SquareLink from "../SquareLink.astro";
import DarkLightImage from "../Utils/DarkLightImage.astro";
import darkIOKodeLogo from '../../assets/images/dark/iokode.svg'
import lightIOKodeLogo from '../../assets/images/light/iokode.svg'
---

<header>
    <div class="logo">
        <DarkLightImage alt="IOKode logo" dark={darkIOKodeLogo} light={lightIOKodeLogo} />
    </div>

    <div class="slogan">
        <p>The opinionated tech blog</p>
    </div>

    <ul class="main-links">
        <li><SquareLink destination="/">Home</SquareLink></li>
        <li><SquareLink destination="/archive">Archive</SquareLink></li>
        <li><SquareLink destination="/archive">The why</SquareLink></li>
        <li><SquareLink destination="https://links.iokode.blog/author" newPage={true}>About the authors</SquareLink></li>
    </ul>

    <ul class="social-links">
        <li><SquareLink destination="https://links.iokode.blog/github" newPage={true}>GitHub</SquareLink></li>
        <li><SquareLink destination="https://links.iokode.blog/twitter" newPage={true}>X/Twitter</SquareLink></li>
        <li><SquareLink destination="https://links.iokode.blog/in" newPage={true}>LinkedIn</SquareLink></li>
    </ul>
</header>

<style lang="scss">
    @use '../../styles/variables/devices';
    header {
        grid-area: header;
        margin: auto;

        .logo {
            padding-top: 2em;
        }

        .slogan {
            display: none;
            font-size: 2.5em;
            font-family: "Dosis", sans-serif;

            @media (min-width: devices.$tablet) {
                display: block;
            }
        }

        .social-links {
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            width: 100%;

            li {
                list-style-type: none;
                display: inline;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 15px;
            }
        }

        .main-links {
            text-align: center;
            margin-top: -15px;

            li {
                list-style-type: none;
                display: inline;

                margin-left: 10px;
                margin-right: 10px;
                margin-top: 15px;
            }
        }
    }
</style>
