---
import type {CollectionEntry} from 'astro:content';
import {getImage} from "astro:assets";

interface Props {
    post: CollectionEntry<'entries'>;
}

const post = Astro.props.post;
const data = post.data;
const avatar = await getImage({
    src: `https://github.com/${data.author}.png?size=60`,
    formats: ['webp'],
    inferSize: true,
    quality: 'max',
});
---

<a href={`/posts/${data.slug}`}>
    <div class="title">{data.title}</div>
    <time>{data.publishDate.toDateString()}</time>
    <div class="author">
        <img src={avatar.src} alt={`GitHub avatar of ${data.authorName}`}/> {data.authorName}
    </div>
</a>

<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/fonts";

    a {
        // Boxing
        display: flex;
        margin-left: .5em;
        margin-right: .5em;

        // Flex
        flex-wrap: wrap;

        // Typography
        color: inherit;

        .title {
            // Boxing
            width: 100%;
            margin: 0;

            // Typography
            font-family: fonts.$titles;
            font-size: 1.5em;
        }

        .author {
            // Boxing
            display: flex;
            margin-left: 1em;

            // Flex
            gap: .2em;
            align-items: center;

            img {
                // Boxing
                width: 1em;
            }
        }

        &:hover {
            // Boxing
            margin: calc(-0.5em - 4px);
            padding: 0.5em 1em;

            // Typography
            @include colors.property('border-color', 'border');

            // Style
            text-decoration: none;
            border: 4px solid;
        }
    }
</style>
