---
import type {CollectionEntry} from 'astro:content';
import {getGithubRealnameFromUserName} from "../helpers/github";

interface Props {
    post: CollectionEntry<'entries'>;
}

const post = Astro.props.post;
const data = post.data;
const realName = await getGithubRealnameFromUserName(data.author);
---

<a href={`/posts/${data.slug}`}>
    <div class="title">{data.title}</div>
    <time>{data.publishDate.toISOString().split('T')[0]}</time>
    <div class="author">
        <img src={`https://github.com/${data.author}.png?size=20`} alt={`GitHub avatar of ${realName}`}/> {realName}
    </div>
</a>

<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/fonts";

    a {
        margin-left: .5em;
        margin-right: .5em;
        display: flex;
        flex-wrap: wrap;
        color: inherit;

        .title {
            font-family: fonts.$titles;
            font-size: 1.5em;
            width: 100%;
            margin: 0;
        }

        .author {
            margin-left: 1em;

            img {
                vertical-align: middle;
            }
        }

        &:hover {
            text-decoration: none;
            border: 4px solid;

            margin: calc(-0.5em - 4px);
            padding: 0.5em 1em;

            @include colors.property('border-color', 'border');
        }
    }
</style>
