---
import type {CollectionEntry} from 'astro:content';
import {getImage, Image} from "astro:assets";
import {getGithubRealnameFromUserName} from "../helpers/github";

interface Props {
    post: CollectionEntry<'entries'>;
}

const post = Astro.props.post;
const data = post.data;
const realName = await getGithubRealnameFromUserName(data.author);
const avatar = await getImage({
    src: `https://github.com/${data.author}.png?size=60`,
    formats: ['webp'],
    inferSize: true,
    quality: 'max',
});
---

<a href={`/posts/${data.slug}`}>
    <div class="title">{data.title}</div>
    <time>{data.publishDate.toISOString().split('T')[0]}</time>
    <div class="author">
        <img src={avatar.src} alt={`GitHub avatar of ${realName}`}/> {realName}
    </div>
</a>

<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/fonts";

    a {
        margin-left: .5em;
        margin-right: .5em;
        display: flex;
        flex-wrap: wrap;
        color: inherit;

        .title {
            font-family: fonts.$titles;
            font-size: 1.5em;
            width: 100%;
            margin: 0;
        }

        .author {
            display: flex;
            margin-left: 1em;
            gap: .2em;
            align-items: center;

            img {
                width: 1em;
            }
        }

        &:hover {
            text-decoration: none;
            border: 4px solid;

            margin: calc(-0.5em - 4px);
            padding: 0.5em 1em;

            @include colors.property('border-color', 'border');
        }
    }
</style>
