---
import type { PostResume } from "../models/Post";

interface Props {
    post: PostResume;
}

const post = Astro.props.post;
---

<a href={`/posts/${post.slug}`}>
    <div class="title">{post.title}</div>
    <div class="author">
        <img src={`https://github.com/${post.author.username}.png?size=20`} alt={`GitHub avatar of ${post.author.username}`} /> {post.author.name}
    </div>
    —
    <div class="date">{post.publishDate.toDateString()}</div>
</a>

<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/fonts";

    a {
        margin-left: 0.5em;
        margin-right: 0.5em;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 0.5em;
        color: inherit;

        .title {
            font-family: fonts.$titles;
            font-size: 1.5em;
            width: 100%;
            margin: 0;
        }

        .author {
            img {
                vertical-align: middle;
            }
        }

        &:hover {
            text-decoration: none;
            border: 4px solid;

            margin-left: calc(-0.5em - 4px);
            margin-right: calc(-0.5em - 4px);
            margin-top: calc(-0.5em - 4px);
            margin-bottom: calc(-0.5em - 4px);
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;

            @media (prefers-color-scheme: light) {
                border-color: colors.$light-border;
            }
            @media (prefers-color-scheme: dark) {
                border-color: colors.$dark-border;
            }
        }
    }
</style>
