---
import {getCollection} from "astro:content";
import PostLayout from "../../../layouts/PostLayout.astro";
import {Markdown} from 'astro-remote';
import Alert from "../../../components/Entry/Alert.astro";
import Comments from "../../../components/Comments.svelte";
import Message from "../../../components/Entry/Message.astro";

const license = {
    code: "CC BY 4.0",
    url: "https://creativecommons.org/licenses/by/4.0/deed.en",
};

const allowedComponents = {Alert, Message};

export const getStaticPaths = async function () {
    const posts = await getCollection('spanishLegacyPosts');

    return posts.map(post => {
        return {
            params: {slug: post.data.slug},
            props: {
                post: post,
            }
        }
    })
};
---

<PostLayout author="montyclt" title={Astro.props.post.data.title} publishDate={Astro.props.post.data.publishDate} slug={Astro.props.post.data.slug} license={license}>
    <div lang="es">
        <Markdown content={Astro.props.post.body} sanitize={{allowComponents: true}} components={allowedComponents}/>

        <Comments client:visible discussionId={Astro.props.post.data.discussionId} author="montyclt" />
    </div>
</PostLayout>