---
import Layout from "./Layout.astro";
import {getGithubAvatar, getGithubRealnameFromUserName} from "../helpers/github";
import {getSeriesPost, type SeriesIndex} from "../helpers/entries";
import {generateOGImage} from "../helpers/og-generator";

interface Props {
    title: string
    author: string
    publishDate: Date
    series?: string
    slug: string
    license: { code: string, url: string }
}

const authorRealName = await getGithubRealnameFromUserName(Astro.props.author);
const avatar = await getGithubAvatar(Astro.props.author);

let seriesPosts: SeriesIndex[] | undefined = undefined;

if (Astro.props.series !== undefined) {
    seriesPosts = await getSeriesPost(Astro.props.author, Astro.props.series, Astro.props.slug);
}

const description = `Post written by ${authorRealName} on ${Astro.props.publishDate.toDateString()}. Licensed under ${Astro.props.license.code}.`;
const ogImagePath = await generateOGImage(Astro.props.slug, Astro.props.title);
---

<Layout title={Astro.props.title} description={description}>
    <Fragment slot="head" set:html={`
        <link rel="stylesheet" href="/hljs/styles/github.min.css"/>
        <link rel="stylesheet" href="/hljs/styles/github-dark.min.css" media="(prefers-color-scheme: dark)"/>
        <script src="/hljs/highlight.min.js"></script>
        <script>hljs.highlightAll({cssSelector: 'pre code[class|="language"]'});</script>
        
        <!-- Open Graph meta tags -->
        <meta property="og:title" content="${Astro.props.title}"/>
        <meta property="og:description" content="${description}"/>
        <meta property="og:image" content="https://iokode.blog${ogImagePath}"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="630"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="https://iokode.blog/posts/${Astro.props.slug}"/>
        
        <!-- Twitter Card meta tags -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="${Astro.props.title}"/>
        <meta name="twitter:description" content="${description}"/>
        <meta name="twitter:image" content="https://iokode.blog${ogImagePath}"/>
    `}/>
    <h1>{Astro.props.title}</h1>
    <div class="metadata">
        <div class="author">
            <img src={avatar.src} alt={`GitHub avatar of ${authorRealName}`}/>
            {authorRealName}
        </div>
        <div class="date">
            {Astro.props.publishDate.toDateString()}
        </div>
        <div class="license">
            Post licensed under <a target="_blank" href={Astro.props.license.url}>{Astro.props.license.code}</a>
        </div>
    </div>

    {seriesPosts &&
            <div class="series">
                <p>This post belongs of the <strong>{Astro.props.series}</strong> series.</p>
                <ol class="posts">
                    {seriesPosts.map(post =>
                        post.current ?
                                <li class="current"><strong>{post.title}</strong></li> :
                                <li><a href={`/posts/${post.slug}`}>{post.title}</a></li>)}
                </ol>
            </div>
    }

    <slot/>
</Layout>

<style lang="scss">
    @use "../styles/variables/borders";
    @use "../styles/variables/devices";
    @use "../styles/variables/fonts";

    .metadata {
        // Boxing
        display: flex;
        margin-bottom: 1em;

        // Flex
        flex-direction: column;
        row-gap: .5em;

        @media (min-width: devices.$tablet) {
            // Flex
            row-gap: .5em;
            column-gap: 0.5em;
            flex-direction: row;
        }

        @media print {
            // Flex
            flex-direction: row;
            gap: .5em;
        }

        > div {
            // Boxing
            padding: 0 .5em;

            // Style
            border: borders.$default;
        }

        .author {
            // Boxing
            display: flex;

            // Flex
            gap: .2em;
            align-items: center;

            img {
                // Boxing
                width: 1em;
            }
        }

        .license {
            margin-left: auto;
        }
    }

    .series {
        // Boxing
        margin: .5em 0;
        padding: 0 1em;

        // Style
        border: borders.$default;

        > p {
            // Typography
            font-size: 1.2em;
            font-family: fonts.$titles;
        }
    }
</style>